.container {
  background-color: #ddd;
  height: 1000px;
  margin: 30px auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-rows: minmax(150px, -webkit-min-content) 30px minmax(150px, -webkit-min-content);
  -ms-grid-rows: minmax(150px, min-content) 30px minmax(150px, min-content);
  grid-template-rows: repeat(2, minmax(150px, -webkit-min-content));
  grid-template-rows: repeat(2, minmax(150px, min-content));
  -ms-grid-columns: minmax(200px, 50%) 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: minmax(200px, 50%) repeat(3, 1fr);
}.container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}.container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}.container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}.container > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}.container > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}.container > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}.container > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}.container > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.container .item {
  padding: 20px;
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  background-color: orangered;
}
.container .item--1 {
  background-color: orangered;
}
.container .item--2 {
  background-color: yellowgreen;
}
.container .item--3 {
  background-color: blueviolet;
}
.container .item--4 {
  background-color: palevioletred;
}
.container .item--5 {
  background-color: royalblue;
}
.container .item--6 {
  background-color: goldenrod;
}
.container .item--7 {
  background-color: crimson;
}
.container .item--8 {
  background-color: darkslategray;
}